{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Text step{% endtrans %}
{% endblock %}

{% block body %}
	<div>
  		<img src={{ drawing }} alt={% trans %}The masterpiece{% endtrans %} />
	</div>
    {{ form(formText) }}

    {% if waiting == 1 %}
		<p>{% trans %}Waiting for other players{% endtrans %}</p>
	{% endif %}

    <script type="text/javascript">
	
		// SSE
		// Mercure hub url
		const url = new URL('{{ mercure_hub }}')

		// Search parameters 
		url.searchParams.append('topic', '{{ mercure_host }}text/{{ game_id }}')
		const eventSource = new EventSource(url);

		// The callback will be called every time an update is published
		eventSource.onmessage = e => {
		//	console.log(e); // do something with the payload
			let data = JSON.parse(e.data)
			if(data.subject == 'draw'){
                window.location.replace('{{ mercure_host }}drawing/{{ game_id }}')
			}
		}
	</script>
{% endblock %}
