{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Text step{% endtrans %}
{% endblock %}

{% block body %}
<style>
    .main-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px / 1.5 sans-serif;
    }
    .main-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="main-wrapper">
	<div>
		<img src={{ drawing }} alt={% trans %}The masterpiece{% endtrans %} />
	</div>
	{{ form_start(formText) }}
	{{ form_label(formText.phrase, 'Please enter your sentence'|trans ) }}
	<br>
	{{ form_widget(formText.phrase) }}
	{{ form_widget(formText.validate, { 'label': 'Validate'|trans }) }}
	{% if waiting == 0 %}
	<span id="timer">{% trans %}Remaining time{% endtrans %}</span>
	{% endif %}
	{{ form_end(formText) }}

	{% if waiting == 1 %}
		<p>{% trans %}Waiting for other players{% endtrans %}</p>
	{% endif %}
</div>

	{% if waiting == 0 %}
	<script type="text/javascript">
		// Set the date we're counting down to, need to be outside the include script because of twig variables
		var countDownDate = new Date().getTime()+({{ timer }}*1000);
		const music = new Audio('{{ url('index') }}/sound/bips.mp3');
	</script>
	<script type="text/javascript" src="{{ url('index') }}script/timer.js"></script>
	{% endif %}
    <script type="text/javascript">
	
		// SSE
		// Mercure hub url
		const url = new URL('{{ mercure_hub }}')

		// Search parameters 
		url.searchParams.append('topic', '{{ mercure_host }}text/{{ game_id }}')
		const eventSource = new EventSource(url);

		// The callback will be called every time an update is published
		eventSource.onmessage = e => {
		//	console.log(e); // do something with the payload
			let data = JSON.parse(e.data)
			if(data.subject == 'draw'){
                window.location.replace('{{ mercure_host }}drawing/{{ game_id }}')
			}
		}
	</script>
{% endblock %}
