{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}The Rumor - Waiting room{% endtrans %}
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="example-wrapper">
		<!-- Test if a player is invited and the link is correct -->
		{% if token and game_id > 0 %}
			<h1>{% trans %}Waiting room{% endtrans %}</h1>
			<h2>{% trans %}Game{% endtrans %}
				{{ game_id }}</h2>
			<table>
				<tr>
					<th>{% trans %}List of players{% endtrans %}</th>
				</tr>
				<!-- List all players in the waiting room -->
				{% for player in players %}
					<tr>
						<td>{{ player[1] }}</td>
					</tr>
				{% endfor %}
			</table>
			<p>{% trans %}Invite your friends with this link :{% endtrans %}</p>

			<!-- The text field with the link to invite other players in this game -->
			<input
			type="text" value="{{ url('player_invite') }}?token={{ token }}" id="myInput">
			<!-- The button used to copy the text -->
			<button onclick="myFunction()">{% trans %}Copy text{% endtrans %}</button>

			<!-- Link to start the game for the creator of the game -->
			{% if players[0][0] == app.session.get('creator') %}
			<br>
			<a href="/game/{{ game_id }}">{% trans %}Start{% endtrans %}</a>
			{% endif %}

		{% else %}
			{% if game_id == 0 %}
				<h1>{% trans %}Sorry, this game link is invalid or expired, you should verify your link or create a game on your own :){% endtrans %}</h1>
				<a href="{{ path('index') }}">{% trans %}Start a new game{% endtrans %}</a>
			{% else %}
				<h1>{% trans %}Error generating token, please contact admin{% endtrans %}</h1>
			{% endif %}
		{% endif %}
	</div>

	<script type="text/javascript">
		function myFunction() { /* Get the text field */
			var copyText = document.getElementById("myInput");

			/* Select the text field */
			copyText.select();
			copyText.setSelectionRange(0, 99999);
			/* For mobile devices */

			/* Copy the text inside the text field */
			document.execCommand("copy");

			/* Alert the copied text */
			alert("Copied the text: " + copyText.value);
		}

		// SSE
		// Mercure hub url
		const url = new URL('http://localhost:8090/.well-known/mercure');

		// Search parameters 
		url.searchParams.append('topic', 'http://localhost:8080/player/invite/{{ game_id }}');
		const eventSource = new EventSource(url);

		// The callback will be called every time an update is published
		eventSource.onmessage = e => {
			console.log(e); // do something with the payload
			let data = JSON.parse(e.data)
			if(data.subject == 'player'){
				document.querySelector('table').insertAdjacentHTML('beforeend', `<tr><td>${data.player}</td></tr>`)
			}

			if(data.subject == 'start'){
			//	document.querySelector('button').insertAdjacentHTML('afterend', `Compte à rebours`)
				window.location.replace('http://localhost:8080/start/{{ game_id }}');
			}
		}
	</script>
	
{% endblock %}
