{% extends 'base.html.twig' %}

{% block title %}The Rumor{% endblock %}

{% block body %}

<div>
    <div>
        <h1>{% trans %}The Rumor{% endtrans %}</h1>
        <p>{% trans %}Welcome to this wonderfull game{% endtrans %}</p>
    </div>
    {% if app.user %}
    <div>
        <h2>{% trans %}Game creation{% endtrans %}</h2>
        <a href="{{ path('player_invite') }}?player={{ app.user.id }}">{% trans %}Start{% endtrans %}</a>
    </div>
    {% endif %}
    {% if invitation == 1 %}
    <div>
        <h2>{% trans %}Invitation pending{% endtrans %}</h2>
        <a href="{{ path('player_invite') }}?player={{ app.user.id }}">{% trans %}Game{% endtrans %} {{ numGame }}</a>
    </div>
    {% endif %}
    <div>
        <h2>Classement</h2>

    </div>
</div>
{% endblock %}
