{% extends 'base.html.twig' %}

{% block title %}The Rumor{% endblock %}

{% block body %}

<div>
    <div>
        <h1>{% trans %}The Rumor{% endtrans %}</h1>
        <p>{% trans %}Welcome to this wonderfull game{% endtrans %}</p>
    </div>
    {% if app.user %}
    <div>
        <h2>{% trans %}Game creation{% endtrans %}</h2>
        <a href="{{ path('player_invite') }}?player={{ app.user.id }}">{% trans %}Start{% endtrans %}</a>
    </div>
    {% endif %}
    {% if invitation == 1 %}
    <div>
        {% trans %}Invitation pending : {% endtrans %}<a href="{{ path('player_invite') }}?player={{ app.user.id }}"> {% trans %}Game{% endtrans %} {{ numGame }}</a>
    </div>
    {% endif %}
    <div>
        <h2>Classement</h2>
        <table>
			<tr>
				<th>{% trans %}Pseudo{% endtrans %}</th>
                <th>Points</th>
                <th>{% trans %}Games played{% endtrans %}</th>
                <th>{% trans %}Total time played{% endtrans %}</th>
		    </tr>
        {% for r in ranking %}
            <tr>
			    <td>{{ r['pseudo'] }}</td>
                <td>{{ r['nb_points'] }}</td>
                <td>{{ r['nb_games_played'] }}</td>
                <td>{{ (r['total_time_played']/60)|round(1, 'floor') }} min</td>
		    </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
