{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}The Rumor - Edit static page{% endtrans %}
{% endblock %}

{% block body %}

<style>

    .form {
        height:200px;
    }

</style>

<h1>{% trans %}Edit static page: {% endtrans %} {{ title }}</h1>
    {{ form_start(formPages) }}
        {{ form_widget(formPages.text) }}
        <br>
        {{ form_widget(formPages.edit, {'label': 'Edit'|trans }) }}
    {{ form_end(formPages) }}
    
{% endblock %}