{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}The Rumor - Admin panel{% endtrans %}
{% endblock %}

{% block body %}

<style>
    .container-section {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .section {
    }

    .form-inline {
        display: inline;
    }

    .table {
        border: 1px solid black;
    }

    .table a {
        text-decoration: none;
    }

    .table-header{
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .knp-footer{
        text-align: center;
        margin-block-start: 0.5em;
    }

    .knp-footer a{
        text-decoration: none;
    }
</style>

<h1>{% trans %}Admin panel{% endtrans %}</h1>

<div class="container-section">
    {# section flex gauche #}
    <div class="section section-1">
        <h3 class="table-header">
            {% trans %}Admin actions{% endtrans %}
        </h3>
        {{ form_start(formPages) }}
            {{ form_label(formPages.title, 'Edit the static pages'|trans ) }}
            <br>
            {{ form_widget(formPages.title) }}
            {{ form_widget(formPages.edit, { 'label': 'Edit'|trans }) }}
        {{ form_end(formPages) }}
        <br>
        {{ form_start(formSentence) }}
            {{ form_label(formSentence.phrase, 'You can add a new sentence for players'|trans ) }}
            <br>
            {{ form_widget(formSentence.phrase) }}
            {{ form_widget(formSentence.type) }}
            {{ form_widget(formSentence.validate, { 'label': 'Validate'|trans }) }}
            
        {{ form_end(formSentence) }}
    </div>
    {# section flex droite #}
    {# tableau de tous les utilisateurs + actions #}
    <div class="section section-2">
        <h3 class="table-header">
            {% trans %}List of our users{% endtrans %}
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Pseudo{% endtrans %}</th>
                    <th>{% trans %}Role{% endtrans %}</th>
                    <th>{% trans %}Points{% endtrans %}</th>
                    <th>{% trans %}Games played{% endtrans %}</th>
                    <th>{% trans %}Total play time{% endtrans %}</th>
                    <th>{% trans %}Is verified{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>
                        {% if 'ROLE_ADMIN' in user.roles %}
                            {% trans %}Admin{% endtrans %}
                        {% else %}
                            {% trans %}User{% endtrans %}
                        {% endif %}
                    </td>
                    <td>{{ user.nbPoints }}</td>
                    <td>{{ user.nbGamesPlayed }}</td>
                    <td>{{ user.totalTimePlayed }}</td>
                    <td>{{ user.isVerified ? '☑' : '☐' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">
                            <img src="{{ asset('img/loupe.png') }}" width="15" height="15" alt="User details">
                        </a>
                        {# chargement de la bonne img en fonction du role #}
                        {% if 'ROLE_ADMIN' in user.roles %}
                        <a href="{{ path('user_demote', {'id': user.id}) }}">
                            <img src="{{ asset('img/icon_down.png') }}" width="15" height="15"
                                alt="Demote from administrator">
                        </a>
                        {% else %}
                        <a href="{{ path('user_promote', {'id': user.id}) }}">
                            <img src="{{ asset('img/icon_up.png') }}" width="15" height="15"
                                alt="Promote to administrator">
                        </a>
                        {% endif %}
                        {# ?? ajouter bouton de suppression ?? #}
                        <a href="{{ path('user_edit', {'id': user.id}) }}">
                            <img src="{{ asset('img/wrench.png') }}" width="15" height="15" alt="Edit the user">
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">{% trans %}No records found{% endtrans %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="knp-footer">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
</div>
{% endblock %}
