<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans %}The Rumor{% endtrans %}{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<style>
    html,
    body {
        height: 100%;
        margin: 0px;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text]{
        border: 1px solid;
        height:30px;
        width:330px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .wrapper>* {
        padding: 10px;
    }

    /**
    * Images a now responsive
    */
    .main-header img {
        max-width: 300px;
        height: auto;
        margin-top: 7px;
    }

    .main-header {
        background: #318CE7;
        box-shadow: inset 0px 0px 20px 7px rgb(0 38 72 / 31%);
    }

    /**
    * Limit the container in
    * width for big screens
    */
    .header-container {
        max-width: 100%;
        margin: 0 auto;
        
    }

    .header-container h1{
        margin: 0 auto;
    }

    /**
    * By using display: flex
    * Logo and nav are in 2 cols
    * align-items make them
    * vertically centered
    * justify-content distribute
    * horizontal spaces around
    * and flex-wrap break the
    * things in two lines in
    * small screens
    */
    .main-header .header-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /**
    * The followings are to
    * make things more
    * clean and airy
    * and contents centered
    */
    .main-nav ul {
        text-align: center;
    }
    .main-nav li {
        display: inline;
    }
    .main-nav a {
        display: inline-block;
        padding: .5em 1.5em;
        font-size: 0.83em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #dfefff;
        text-decoration: none;
    }

    .footer {
        flex: row;
        background-color: #318CE7;

    }

    .footer ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer li {
        margin-left: 1rem;
        margin-right: 1rem;
        list-style-type: none;
    }

    .footer a {
        display: inline-block;
        padding: .5em 1.5em;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #dfefff;
        text-decoration: none;
        
    }

    .footer-nav a {
        color: white;
    }

    .main {
        flex: 1;
        text-align: left;
        overflow: auto;
        height: 100%;
        background: #ffffff;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 10px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    a {
        text-decoration: none;
    }

    table {
        border: 1px solid black;
    }

    @media (min-width: 1160px) {
        .main-header .header-container {
            justify-content: space-between;
        }
    }

    @media (max-width: 1160px) {
        .main-header img {
            max-width: 170px;
            height: auto;
        }
        .main-nav a {
            display: inline-block;
            padding: .5em 1em;
            font-size: 0.7em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            text-decoration: none;
        }
    }

    
</style>

<body>
    <div class="wrapper">
        <header class="main-header">
            <div class="header-container">
                {# Retour à l'index #}
                <h1 class="mh-logo">
                    <a href="/" ><img src="{{ asset('img/LaRumeur.svg') }}" alt="Home"></a>
                </h1>
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        {# Affichage règles du jeu #}
                        <li><a href="{{ path('rules') }}">{% trans %}Game rules{% endtrans %}</a></li>

                        {# Est ce que l'utilisateur est connecté #}
                        {% if app.user %}
                        <li><a href="{{ path('user_profile', {'id': app.user.id}) }}">{% trans %}My account{% endtrans %}</a>
                        {# Est ce que l'utilisteur a le droit d'avoir le panneau d'admin #}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_panel') }}">{% trans %}Admin panel{% endtrans %}</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                        </li>
                        {% else %}
                        <li><a href="{{ path('app_register') }}">{% trans %}Sign up{% endtrans %}</a></li>
                        <li><a href="{{ path('app_login') }}">{% trans %}Log in{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="box main">
            {% block body %}{% endblock %}
        </div>
        <footer class="box footer">
            <ul>
                <li><a href="{{ path('mentions') }}">{% trans %}Legal notice{% endtrans %}</a></li>
                <li><a href="{{ path('team') }}">{% trans %}Our team{% endtrans %}</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>