{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}

    <h1>My account</h1>

    {# Changement de pseudo #}
    {{ form_start(form) }}

    <div class="form-class-errors">
        {{ form_errors(form) }}
    </div>
    <h3>My pseudo</h3>
    {{ form_row(form.pseudo, {'label': false}) }}
    {{ form_row(form.submit, { 'label': 'Validate' }) }}
    {{ form_end(form) }}

    {# Affichage des stats #}
    <h3>My records<h3>
    - I earned {{ user.nbPoints }} points
    - I played in {{ user.nbGamesPlayed }} games
    - I spent {{ user.totalTimePlayed }} minutes playing

    {# Affichage changer mot de passe #}
    <a href="{{ path('app_forgot_password_request') }}">Change my password</a>

    {# Affichage historique de parties #}
    
{% endblock %}