{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}The Rumor - My account{% endtrans %}
{% endblock %}

{% block body %}
<style>
    .container-section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .section {
        
    }
</style>
<h1>{% trans %}My account{% endtrans %}</h1>
<div class="container-section">
    <div class="section">
        {# Changement de pseudo #}
        {{ form_start(form) }}

        <div class="form-class-errors">
            {{ form_errors(form) }}
        </div>
        <h3>{% trans %}My pseudo{% endtrans %}</h3>
        {{ form_row(form.pseudo, {'label': false}) }}
        {{ form_row(form.submit, { 'label': 'Validate' }) }}
        {{ form_end(form) }}

        {# Affichage des stats #}
        <h3>{% trans %}My records{% endtrans %}<h3>
        <ul>
            <li>- J'ai gagné {{ user.nbPoints }} points</li>
            <li>- J'ai participé à {{ user.nbGamesPlayed }} parties</li>
            <li>- J'ai passé {{ (user.totalTimePlayed/60)|round(1, 'floor') }} minutes à jouer</li>
        </ul>
        <br>
        {# Lien changer mot de passe #}
        <a href="{{ path('app_forgot_password_request') }}">{% trans %}Change my password{% endtrans %}</a>

        {# Affichage historique de parties #}
    </div>
    <div class="section">
        <h3>{% trans %}Games I played{% endtrans %}</h3>
        {% if games[0] is defined %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Joueurs{% endtrans %}</th>
                    <th>{% trans %}Length{% endtrans %}</th>
                    <th>{% trans %}Summary{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.inviteexpiration|date("d/m/y")  }}</td>
                    <td>
                        {% for user in game.usersId %}
                            {{ user[1] }}
                        {% endfor %}
                    </td>
                    <td>{{ game.time }}</td>
                    <td><a href="{{ path('history', {'id': game.id}) }}">{% trans %}See{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(games) }}
        {% else %}
            {% trans %}I never played in any game{% endtrans %}
        {% endif %}
    </div>
</div>
{% endblock %}